.resume-btn-div,
.blogsite-btn-div,
.address-btn-div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-button {
  background-color: #7360ff;
  border: 1px solid #7360ff;
  color: #fff;
  font-weight: 500;
  line-height: 1.1;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 13px 22px;
  margin-right: 0;
  border-radius: 1rem;
  text-align: center;
  text-decoration: none;
  font-family: "Nunito";
  display: block;
  margin-top: 20px;
  font-size: 18px;
  cursor: pointer;
  letter-spacing: 2px;
}
.main-button:hover {
  background-color: #fff;
}
@media (max-width: 800px) {
  .d-flex {
    flex-direction: column;
  }
  .section-img > img {
    width: 80%;
  }
  .section-text {
    margin-bottom: 40px;
  }
  .section-title {
    margin-top: 20px;
  }
}
