.dev-icons-orgs {
  padding-left: 0;
  list-style: none;
  margin: 50px 50px 0;
  text-align: center;
}
.organizations-img {
  width: 100px;
  height: auto;
  border-radius: 50%;
}
.organizations-inline {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 50px;
  margin-bottom: 50px;
}
.organizations-inline span {
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
  background-color: #7360ff;
  color: #fff;
  white-space: nowrap;
  padding: 5px 7px;
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 2;
}
.organizations-inline span::before {
  content: "";
  display: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.organizations-inline:hover span {
  top: -30%;
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .organizations-img {
    width: 60px;
  }
  .dev-icons-orgs {
    margin-left: 20px;
    margin-right: 20px;
  }
  .organizations-inline {
    margin-right: 30px;
    margin-bottom: 30px;
  }
}
