@import url("https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700|Montserrat:400,500,600,700");

:root {
  --primary-color: #8a74b8;
  --secondary-color: #4c40f7;
  --text-primary-color: #ffffff;
  --text-secondary-color: #64707d;
  --bg-primary-color: #fff;
  --bg-secondary-color: #f2f2f2;
  --other-color: #ccc;

  /* Icons */
  --color-1: #e65100;
  --color-2: #8a2be2;
  --color-3: #0277bd;
  --color-4: #ffd600;
}

html,
body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background-color: none;
  text-decoration: underline var(--primary-color);
}
