@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #c9fd74;
}

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::selection {
  background-color: none;
  text-decoration: underline var(--primary-color);
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
